{% extends "task/base.html" %}

{% block content %}
<br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>TrackYourTask, You Wonder?</h1>
            <p> Life is a busy piece of shit. Sometimes you can be overwhelmed by the task you need to do. So, may be you need something to manage your task from time to time. And here we are! TrackYourTask can be your best companion to list your task. </p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'signupuser' %}">Start</a>
        </div>
    </div>

{% endblock %}